/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  -webkit-font-smoothing: antialiased;
}



/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: block;
    padding: 5px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    font-size: 18px;
    font-weight: 500;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  color: #30363D; 
  padding-right: 30px;
  padding-left: 40px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
forward 定制样式
*/

/*模块样式*/
.logo {
  height: 50px;
  padding: 0 20px;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  float: left;
}

.logo>a {
  color: #ffffff;
}

.logo>a:hover {
  color: #55B7C9;
  text-decoration:none;
}

.line {
  max-width: 100%;
  height: 1px;
  margin: 10px 12px;
  overflow: hidden;
  font-size: 0;
  background-color: #2e3344;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

.dashboard-right {
  height: 100%;
  z-index: 1000;
  margin: 0;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  font-size: 15px;
  font-weight: 500;
}

/*组件样式*/
.full {
  width: 100%;
  height: 100%;
}

td input {
  min-width: 50px;
  padding: 0;
  border: 1px solid #d8d8d8;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-li {
  list-style-type:none;
  border: 1px solid #2e3344;
  border-width: 0 0 1px 0;
  padding: 5px;
}

.dashboard-navbar {
  width: 100%;
  height: 60px;
  display: block;
}

.dashboard-navbar>ul>li {
  float: left;
  text-align: center;
  font-size: 15px;
  margin: 5px 5px 5px 0;
  width: 100px;
  height: 50px;
  line-height: 50px;
}

.dashboard-navbar>ul>li:hover {
  background-color: #FF9900;
}

.navbar-nav > li > a {
  padding: 0 15px !important;
  line-height: 50px;
  font-size: 30px;
  color: #ffffff !important;
}

.navbar-nav > li > a:hover {
  color: #55B7C9 !important;
}

/*位置样式*/
.center {
  text-align:center;
}

.no-wrapper {
  padding: 0;
}

.wrapper {
  padding: 15px;
}

.padder {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.padder-l-5 {
  padding-left: 5px;
}

.t-0-l-0 {
  position: fixed;
  left: 0;
  top: 0;
}

.top-right-fix {
  position: fixed;
  right: 0;
  top: 0;
}

.t-50-b-0-l-0 {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
}

.t-50-b-0-r-0 {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
}

.t-6-r-6-ab {
  position: absolute;
  right: 6px;
  top: 6px;
}

/*外观样式*/
.shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

.opacity {
  opacity: 0.8;
}

.bg-dark-a {
  background-color: #30363D;
}

.bg-gray-a {
  background-color: #D1D2D0;
}

.bg-white-a {
  background-color: #F0F2ED;
}

.bg-blue-a {
  background-color: #2289A0;
}

.bg-azure-a {
  background-color: #55B7C9;
}

.bg-orange-a {
  background-color: #FF9900;
}

.bg-preblue {
  background-color: #44495d;
}

.bg-dark {
  background-color: #3a3f51;
}

.bg-black {
  background-color: #2e3344;
}

.bg-white {
  background-color: #ffffff;
}

.bg-snow {
  background-color: #f6f8f8;
}

.font-white {
  color: #eaebed;
}

.font-gray {
  color: #98a6ad;
}

.font-snow {
  color: #e1e5ea;
}

.font-blue {
  color: #54c4ed;
}

.font-orange {
  color: #FF8247;
}

.font-dark {
  color: #58666e;
}

.font-thin {
  font-weight: 300;
}

.b {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.b-black {
  border: 1px solid #2e3344;
}

.b-a {
  border: 1px solid #dee5e7;
}

.b-t {
  border-top: 1px solid #dee5e7;
}

.b-r {
  border-right: 1px solid #dee5e7;
}

.b-r-black {
  border-right: 1px solid #2e3344;
}

.b-b {
  border-bottom: 1px solid #dee5e7;
}

.b-l {
  border-left: 1px solid #dee5e7;
}

.b-l-black {
  border-left: 1px solid #2e3344;
}

.b-light {
  border-color: #edf1f2;
}

.b-dark {
  border-color: #3a3f51;
}

.b-black {
  border-color: #3a3f51;
}

.b-primary {
  border-color: #7266ba;
}

.b-success {
  border-color: #27c24c;
}

.b-info {
  border-color: #23b7e5;
}

.b-warning {
  border-color: #fad733;
}

.b-danger {
  border-color: #f05050;
}

.b-white {
  border-color: #ffffff;
}

.b-dashed {
  border-style: dashed !important;
}

.r {
  border-radius: 2px 2px 2px 2px;
}

/*CSS3 动画*/
