/* css example */
/* .example { */
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	/* box model: border / margin / padding / width / height / ... */
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
/* } */

/* Icon */
@font-face {font-family: "iconfont";
  src: url('/images/icon/iconfont.eot'); /* IE9*/
  src: url('/images/icon/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/icon/iconfont.woff') format('woff'), /* chrome, firefox */
  url('/images/icon/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* Global */
body {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	/* box model: border / margin / padding / width / height / ... */
	margin: 0;
	padding: 0;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	font-family: "雅痞-简", "Yuppy SC", "Microsoft YaHei", "微软雅黑", sans-serif;
	font-size: 18px;
	/* visual: background / color / transition / list-style / shadows / ... */
	-webkit-font-smoothing: antialiased;
	color: #000000;
	/*background-color: #DEE0E9;*/
	/*background-color: #E9EFF2;*/
}

/* Promise组件样式 */
.navbar {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	overflow: visible;
	z-index: 2;
	/* box model: border / margin / padding / width / height / ... */
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
	/* visual: background / color / transition / list-style / shadows / ... */
	/*box-shadow: 0px 1px 2px #CAD1D7;*/
	background-color: #1D2D3D;
}
.navbarIcon {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: relative;
	float: left;
	/* box model: border / margin / padding / width / height / ... */
	margin: 0;
	padding: 0;
	border-right: 1px solid #495565;
	width: 50px;
	height: 100%;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	font-size: 22px;
	font-weight: 500;
	line-height: 50px;
	text-align: center;
	/* visual: background / color / transition / list-style / shadows / ... */
	color: #fff;
	cursor: pointer;
}
.navbarIconAnti {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: relative;
	float: right;
	/* box model: border / margin / padding / width / height / ... */
	margin: 0;
	padding: 0;
	border-left: 1px solid #495565;
	width: 50px;
	height: 100%;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	font-size: 22px;
	font-weight: 500;
	line-height: 50px;
	text-align: center;
	/* visual: background / color / transition / list-style / shadows / ... */
	color: #fff;
	cursor: pointer;
}
.navbarNode {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: relative;
	float: left;
	/* box model: border / margin / padding / width / height / ... */
	margin: 0;
	padding: 0;
	border-right: 1px solid #495565;
	width: 130px;
	height: 100%;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	/* visual: background / color / transition / list-style / shadows / ... */
	cursor: pointer;
}
.navbarInput {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: relative;
	float: right;
	/* box model: border / margin / padding / width / height / ... */
	border-left: 1px solid #495565;
	width: 220px;
	height: calc(50px - 20px);
	padding: 10px;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
}
.navbarIcon:hover,.navbarNode:hover,.navbarInput:hover,.navbarIconAnti:hover {
	background-color: #2c3e50;
}
.navbarInput>input {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	/* box model: border / margin / padding / width / height / ... */
	border: 0;
	margin: 0;
	padding-left: 15px;
	width: calc(100% - 15px);
	height: 100%;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	font-size: 18px;
	line-height: 50px;
	text-align: left;
	/* visual: background / color / transition / list-style / shadows / ... */
	color: #000000;
	background-color: #fff;
}
.navbarInput>input:focus {
	outline: 0;
}
.navbar a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration:none;
}

.sidebar {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: absolute;;
	top: 50px;
	left: 0px;
	display: block;
	overflow: visible;
	z-index: 2;
	/* box model: border / margin / padding / width / height / ... */
	width: 150px;
	border: 0;
	margin: 0px;
	padding: 0px;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
	background-color: #2c3e50;
}
.sidebarNode {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: relative;
	display: block;
	/* box model: border / margin / padding / width / height / ... */
	padding: 0;
	border-bottom: 1px solid #49565E;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
	color: #fff;
	cursor: pointer;
}
.sidebarTitle {
	position: relative;
	padding-left: 10px;
	line-height: 45px;
	font-size: 15px;
	font-weight: 700;
	text-align: left;
}
.sidebarTitle:hover {
	background-color: #34495e;
}
.sidebarTitle>.iconfont {
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 45px;
}
.sidebarSubnode {
	position: absolute;
	top: 0px;
	left: 150px;
	display: none;
	width: 150px;
	line-height: 45px;
	font-size: 15px;
	font-weight: 600;
	text-align: left;
	cursor: pointer;
	background-color: #34495e;
	color: #fff;
}
.sidebarSubnodeContent {
	position: relative;
	padding-left: 10px;
	border-bottom: 1px solid #4C6377;
}
.sidebarSubnodeContent:hover {
	background-color: #435D76;
}
.nodeNumber {
	position: absolute;
	top: 0;
	right: 0;
	width: 56px;
	line-height: 45px;
	color: #A7CBF0;
	font-weight: 600;
	text-align: center;
	border-left: 1px solid #4C6377;
}

.helperTrigger {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: fixed;
	top: 50px;
	bottom: 0px;
	right: 0px;
	display: block;
	z-index: 2;
	/* box model: border / margin / padding / width / height / ... */
	width: 30px;
	border: 0;
	margin: 0px;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
	cursor: pointer;
}
.helperTrigger:hover {
	color: #e74c3c;
}
.helper {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: fixed;
	top: 50px;
	bottom: 0;
	right: -360px;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 2;
	/* box model: border / margin / padding / width / height / ... */
	width: 360px;
	border: 0;
	border-radius: 0;
	margin: 0px;
	padding: 0px;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
	background-color: #1D2D3D;
}
.helperLogo {
	padding: 15px 0px;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
  background: url("http://image84.360doc.com/DownloadImg/2015/04/1218/52310701_15.jpg");
  background-size: 100% 100%;
}
.helperLogo>.iconfont {
	font-size: 45px;
}
.helperNode {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: relative;
	/* box model: border / margin / padding / width / height / ... */
	border: 0;
	padding: 5px;
	margin: 10px;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
	color: #fff;
	border-bottom: 1px solid #fff;
}
.helperTitle {
	margin-bottom: 10px;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	line-height: 24px;
	font-size: 20px;
}
.helperText {
	/* typographic: font / line-height / text-align / word-wrap / ... */
	line-height: 22px;
	font-size: 15px;
}

.dashboard {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	position: static;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	/* box model: border / margin / padding / width / height / ... */
	border: 0;
	border-radius: 0;
	margin: 0;
	padding-top: 50px;
  min-height: 600px;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
}
.smallNode {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
  position: relative;
	float: left;
	vertical-align: top;
	overflow: hidden;
	z-index: 1;
	/* box model: border / margin / padding / width / height / ... */
	width: 50%;
	min-height: 350px;
	border: 0;
	margin: 0;
	padding: 0;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
	/*background-color: #fff;*/
	/*box-shadow: 0 0 2px #CAD1D7;*/
}
.bigNode {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
  position: relative;
	float: left;
	vertical-align: top;
	overflow: hidden;
	z-index: 1;
	/* box model: border / margin / padding / width / height / ... */
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
	/*background-color: #fff;*/
	/*box-shadow: 0 0 2px #CAD1D7;*/
}
.nodeLR {
	float: left;
	width: 50%;
}
.nodeUD {
	display: block;
	width: 100%;
}
.title {
  display: block;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  color: #95A7EE;
}
.textContent {
	text-align: center;
  padding: 0 10%;
  margin-top: 80px;
}
.formContent {
  width: 350px;
  margin: auto;
  border-top: 1px solid #fff;
  padding-top: 40px;
}
.tableContent {
	padding: 5px;
}
.chartContent {
	padding: 5px;
}
.inputWraper {
	width: 100%;
	margin-bottom: 15px;
	padding: 0;
}
.inputWraper>.iconfont {
	float: left;
	border-right: 2px solid #95A7EE;
	padding-right: 5px;
  color: #95A7EE;
	font-size: 25px;
  font-weight: 900;
	line-height: 35px;
	text-align: center;
	cursor: default;
}
.inputWraper>input[type="text"],.inputWraper>input[type="password"] {
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 5px 10px;
	width: calc(100% - 36px - 20px);
	font-size: 16px;
	line-height: 25px;
	text-align: left;
}
.inputWraper>input[type="text"]:focus,.inputWraper>input[type="password"]:focus {
  outline: 0;
}
.formContent>button {
	display: block;
	border: 0;
	margin-bottom: 15px;
	padding: 6px 12px;
	width: 100%;
	font-size: 18px;
  font-weight: 800;
	line-height: 25px;
	text-align: center;
	color: #fff;
	background-color: #95A7EE;
	cursor: pointer;
}
.formContent>button:hover {
	background-color: #A5BFF7;
}
.formContent>button:focus {
	outline: 0;
}

.dashboard table {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	/* box model: border / margin / padding / width / height / ... */
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	border-collapse: collapse;
	/* typographic: font / line-height / text-align / word-wrap / ... */
	font-size: 16px;
	text-align: center;
	/* visual: background / color / transition / list-style / shadows / ... */
	cursor: pointer;
}
.dashboard tr {
	margin: 0;
	padding: 0;
	line-height: 45px;
}
.dashboard tr:hover {
	/* visual: background / color / transition / list-style / shadows / ... */
	background-color: #F3F8F9;
}
.dashboard td {
	margin: 0;
	padding-left: 10px;
	border-top: 0.5px solid #948E93;
	text-align: center;
}
.dashboard td:hover {
	/*background-color: #77829C;*/
}

.signBg {
  position: fixed;;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: url('http://g.hiphotos.baidu.com/zhidao/pic/item/5ab5c9ea15ce36d3c3068ba93cf33a87e950b12c.jpg');
  background-size: 100% 100%;
}
.signBg input[type="text"],.signBg input[type="password"] {
  background-color: transparent;
  color: #fff;
}
.signTitle {
  display: block;
  margin-top: 200px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  color: #95A7EE;
}
.signError {
  margin-bottom: 10px;
  width: 100%;
  color: #FF0002;
  text-align: center;
}
select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  margin-bottom: 15px;
  padding-left: 5px;
  width: 100%;
  border: 0;
  border-radius: 0;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background-color: #95A7EE;
}
select:hover {
  background-color: #A5BFF7;
}
select:focus {
  outline: 0;
}

/* 位置样式 */
.vetical {
	position: absolute;
	top: 50%;
	bottom: 50%;
	width: 100%;
	font-weight: 500;
	text-align: center;
}
.button-close {
	/* formatting model: position / top / right / bottom / left / float / display / overflow / ... */
	/* box model: border / margin / padding / width / height / ... */
	/* typographic: font / line-height / text-align / word-wrap / ... */
	/* visual: background / color / transition / list-style / shadows / ... */
	position: absolute;
	right: 6px;
	top: 6px;
}
.button-close:hover {
	background-color: #3a3f51;
 	color: #FFFFFF;
}

/* 边框样式 */
.full {
	height: 100%;
	width: 100%;
}

/* 可视化样式 */
.show {
	display: block;
}
.bgBlue {
	background-color: #A1C8DF;
}

/* 测试样式 */
