<div ng-controller="Cui">
	<div class="dashboard-navbar b-b">
		<ul class="nav">
			<li>VRF容量</li>
			<li>VRF详情</li>
			<li>Vlan容量</li>
			<li>cc</li>
		</ul>
	</div>

	<div class="col-md-6 wrapper">
		<canvas id="radarChart" style="width:100%; height:100%;"></canvas>
	</div>
	<div class="col-md-6 wrapper">
		<canvas id="lineChart" style="width:100%; height:100%;"></canvas>
	</div>
	<div class="col-md-6 wrapper">
		<canvas id="barChart" style="width:100%; height:100%;"></canvas>
	</div>

</div>
