<div class="node nameCard">
  <div class="nameCardLeft">
    <div class="nameCardLeftPortrait"></div>
    <div class="nameCardLeftName">{{MuserInfo.username}}</div>
  </div>
  <div class="nameCardRight">
    <div class="nameCardRightNode">
      <i class="iconfont">&#xe611;</i> 电话:
      {{MuserInfo.tel}}
    </div>
    <div class="nameCardRightNode">
      <i class="iconfont">&#xe835;</i> 邮箱:
      {{MuserInfo.email}}
    </div>
    <div class="nameCardRightNode">
      <i class="iconfont">&#xe64b;</i> 注册时间:
      {{MuserInfo.sign_up_date | dateFilter}}
    </div>
    <div class="nameCardRightNode">
      <i class="iconfont">&#xe614;</i> 最近登录:
      {{MuserInfo.last_login | dateFilter}}
    </div>
    <div class="nameCardRightNode">
      <div style="float:left;"><i class="iconfont">&#xe602;</i> 角色:</div>
      <span ng-repeat="role in MuserInfo.role" style="float:left;">{{role.name}}({{role.description}})&nbsp;</span>
    </div>
    <div class="nameCardRightNode">
      <div style="float:left;"><i class="iconfont">&#xe620;</i> 权限:</div>
      <span ng-repeat="privilege in MuserInfo.privilege" style="float:left;">{{privilege.name}}&nbsp;</span>
    </div>
  </div>
  <div class="nameCardCloseBox">
    <i class="iconfont nameCardConfirm" ng-show="!MshowDelete" ng-click="FmodifyUser()">&#xe64b;</i>
    <i class="iconfont nameCardConfirm" ng-show="!MshowDelete" ng-click="MshowDelete = true;">&#xe69d;</i>
    <div ng-show="MshowDelete">
      <a class="nameCardConfirm" href="" ng-click="FdeleteUser()">确认删除</a>
      <a class="nameCardConfirm" href="" ng-click="MshowDelete = false;">取消</a>
    </div>
  </div>
</div>
