<div>
  <div style="position: relative; padding: 0; width: 100%; height: 20px; line-height: 20px; background-color: rgba(38, 41, 40, 0.5); border: solid 1px rgba(98, 104, 125, 1.00);">
    <div style="position: absolute; left: 0; top: 0; width: {{rate}}; height: 20px; background-color: RGBA(97, 143, 255, 0.8); box-sizing: border-box;"></div>
    <div style="position: absolute; top: 0; left: 15px;">{{option.name}}</div>
    <div style="position: absolute; top: 0; right: 15px;">{{option.current}}/{{option.max}}</div>
  </div>
</div>
