<div class="bg"></div>
<div class="navbar" ng-controller="Cnavbar">
  <!-- MENU -->
  <div class="navbarIcon">
    <div ng-click="FtoggleMenu()"><i class="iconfont">&#xe61f;</i></div>
    <div class="sidebar" ng-show="MshowMenu">
      <div class="sidebarNode">
        <div class="sidebarTitle">
          <div>资源池</div>
          <i class="iconfont">&#xe62c;</i>
        </div>
        <div class="sidebarSubnode">
          <div class="sidebarSubnodeContent">
            <a href="#/host">主机<div class="nodeNumber">{{MhostsNum}}</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            <a href="#/network">网络设备<div class="nodeNumber">0</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            <a href="">系统<div class="nodeNumber">0</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            <a href="">组件<div class="nodeNumber">0</div></a>
          </div>
        </div>
      </div>
      <div class="sidebarNode">
        <div class="sidebarTitle">
          <div>维护</div>
          <i class="iconfont">&#xe62c;</i>
        </div>
        <div class="sidebarSubnode">
          <div class="sidebarSubnodeContent">
            <a href="#/ansible">Ansible<div class="nodeNumber">2</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            <a href="#/forward">Forward<div class="nodeNumber">1</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            组件管理<div class="nodeNumber">0</div>
          </div>
          <div class="sidebarSubnodeContent">
            配置管理<div class="nodeNumber">0</div>
          </div>
          <div class="sidebarSubnodeContent">
            日志管理<div class="nodeNumber">0</div>
          </div>
        </div>
      </div>
      <div class="sidebarNode">
        <div class="sidebarTitle">
          <div>管理</div>
          <i class="iconfont">&#xe62c;</i>
        </div>
        <div class="sidebarSubnode">
          <div class="sidebarSubnodeContent">
            <a href="#/script">脚本管理<div class="nodeNumber">{{MscriptsNum}}</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            <a href="#/scene">场景管理<div class="nodeNumber">{{MscenesNum}}</div></a>
          </div>
        </div>
      </div>
      <div class="sidebarNode">
        <div class="sidebarTitle">
          <div>问题与故障</div>
          <i class="iconfont">&#xe62c;</i>
        </div>
        <div class="sidebarSubnode">
          <div class="sidebarSubnodeContent">问题<div class="nodeNumber">0</div></div>
          <div class="sidebarSubnodeContent">故障<div class="nodeNumber">0</div></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Index -->
  <div class="navbarIcon"><a href="#/"><i class="iconfont">&#xe618;</i></a></div>

  <!-- UI -->
  <div class="navbarIcon"><a href="#/ui"><i class="iconfont">&#xe7ba;</i></a></div>

  <!-- Todo -->
  <div class="navbarIcon"><a href=""><i class="iconfont">&#xe6ef;</i></a></div>

  <!-- Record -->
  <div class="navbarIcon"><a href=""><i class="iconfont">&#xe686;</i></a></div>

  <!-- Sign out -->
  <div class="navbarIconAnti" ng-click="FsignOut()"><a href="#/"><i class="iconfont">&#xe63f;</i></a></div>

  <!-- User -->
  <div class="navbarIconAnti"><a href="#/user"><i class="iconfont">&#xe636;</i></a></div>

  <!-- Settings -->
  <div class="navbarIconAnti"><a href="#/setting"><i class="iconfont">&#xe632;</i></a></div>

  <!-- Info -->
  <div class="navbarIconAnti" ng-click="FtoggleInfoHistory()">
    <a href=""><i class="iconfont">&#xe61c;</i></a>
    <div class="infoBar">
      <div class="infoNode" ng-repeat="info in Minfos track by $index">{{info}}</div>
    </div>
    <div class="infoBar infoHistoryBar" ng-show="MshowInfosHistory">
      <div class="toolbar" ng-repeat="infoObject in MinfosHistory track by $index">
        <div class="toolbarNode">{{infoObject.date | date:'HH:mm:ss'}}</div>
        <div class="toolbarNode">{{infoObject.info}}</div>
      </div>
    </div>
  </div>

  <!-- Search -->
  <div class="navbarInput"><input type="text" placeholder="Search..."></div>
</div>

<div class="loadingNode" ng-show="MshowNavLoading"></div>

<div class="helper" ng-show="MshowHelper">
  <div class="helperLogo">
    <i class="iconfont">&#xe61e;</i>
    <br />
    Helper
  </div>
  <div ui-view="helperView"></div>
</div>

<div class="helperTrigger" ng-controller="ChelperTrigger" ng-click="FtoggleHelper()">
  <!-- <div class="vetical">&lt;&lt;</div> -->
  <div class="vetical">
    <i class="iconfont" ng-show="!MshowHelper">&#xe63e;</i>
    <i class="iconfont" ng-show="MshowHelper">&#xe62c;</i>
  </div>
</div>

<div class="dashboard" ui-view="dashboardView"></div>

<div ng-controller="Csign">
  <div class="signBg" ng-show="MshowSign">
    <div class="row">
      <div class="fullCol">
        <div class="node signNode">
          <div class="signTitle">Promise・Sign</div>
          <div class="signBar">
            <div class="signLeft">
              <div class="toolbar">
                <div class="toolbarNode"><i class="iconfont">&#xe602;</i></div>
                <input class="toolbarNode" type="text" placeholder="用户名" ng-model="MuserInfo.username">
              </div>
              <div class="toolbar">
                <div class="toolbarNode"><i class="iconfont">&#xe620;</i></div>
                <input class="toolbarNode" type="password" placeholder="密码" ng-model="MuserInfo.password" ng-keyup="FsignInEnter($event, MuserInfo, MisKeep)">
              </div>
              <div class="toolbarNode" ng-click="FtoggleIsKeep()">
                <i class="iconfont" ng-show="MisKeep">&#xe63d;</i>
                <i class="iconfont" ng-show="!MisKeep">&#xe69d;</i>
                保持登录
              </div>
            </div>
            <div class="signRight">
              <div class="toolbar">
                <div class="toolbarNode" ng-click="FsignIn(MuserInfo, MisKeep)">登录</div>
              </div>
              <div class="toolbar">
                <div class="toolbarNode">注册</div>
              </div>
            </div>
            <div class="toolbar" ng-show="MsignError">
              <div class="toolbarNode signError">
                {{MsignErrorInfos}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
