<div class="bg"></div>
<div class="navbar" ng-controller="Cnavbar">
  <!-- MENU -->
  <div class="navbarIcon">
    <div ng-click="FtoggleMenu()"><i class="iconfont">&#xe648;</i></div>
    <div class="sidebar" ng-show="MshowMenu">
      <div class="sidebarNode">
        <div class="sidebarTitle">
          <div>资源池</div>
          <i class="iconfont">&#xe676;</i>
        </div>
        <div class="sidebarSubnode">
          <div class="sidebarSubnodeContent">
            <a href="#/host">主机<div class="nodeNumber">534</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            <a href="">系统<div class="nodeNumber">8</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            <a href="">组件<div class="nodeNumber">17</div></a>
          </div>
        </div>
      </div>
      <div class="sidebarNode">
        <div class="sidebarTitle">
          <div>维护</div>
          <i class="iconfont">&#xe676;</i>
        </div>
        <div class="sidebarSubnode">
          <div class="sidebarSubnodeContent">
            <a href="#/module">封装指令<div class="nodeNumber">20</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            <a href="#/script">脚本调度<div class="nodeNumber">108</div></a>
          </div>
          <div class="sidebarSubnodeContent">
            组件管理<div class="nodeNumber">17</div>
          </div>
          <div class="sidebarSubnodeContent">
            配置管理<div class="nodeNumber">1038</div>
          </div>
          <div class="sidebarSubnodeContent">
            日志管理<div class="nodeNumber">786</div>
          </div>
        </div>
      </div>
      <div class="sidebarNode">
        <div class="sidebarTitle">
          <div>问题与故障</div>
          <i class="iconfont">&#xe676;</i>
        </div>
        <div class="sidebarSubnode">
          <div class="sidebarSubnodeContent">问题<div class="nodeNumber">304</div></div>
          <div class="sidebarSubnodeContent">故障<div class="nodeNumber">178</div></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Index -->
  <div class="navbarIcon"><a href="#/"><i class="iconfont">&#xe626;</i></a></div>

  <!-- UI -->
  <div class="navbarNode"><a href="#/ui">UI</a></div>

  <!-- Todo -->
  <div class="navbarNode"><a href="#/">Todo</a></div>

  <!-- Record -->
  <div class="navbarNode"><a href="#/">Record</a></div>

  <!-- Sign out -->
  <div class="navbarNode" ng-click="FsignOut()"><a href="#/">Sign out</a></div>

  <!-- User -->
  <div class="navbarIconAnti"><a href="#/user"><i class="iconfont">&#xe636;</i></a></div>

  <!-- Settings -->
  <div class="navbarIconAnti"><a href="#/"><i class="iconfont">&#xe66d;</i></a></div>

  <!-- Search -->
  <div class="navbarInput"><input type="text" placeholder="Search..."></div>

</div>

<div class="helper" ng-show="MshowHelper">
  <div class="helperLogo">
    <i class="iconfont">&#xe683;</i>
    <br />
    Helper
  </div>
  <div ui-view="helperView"></div>
</div>

<div class="helperTrigger" ng-controller="ChelperTrigger" ng-click="FtoggleHelper()">
  <div class="vetical"><<</div>
</div>

<div class="dashboard" ui-view="dashboardView"></div>

<div class="signBg" ng-show="MshowSign">
  <div ng-controller="Csign">
    <div class="row">
      <div class="bigNode transparent">
        <div class="signTitle">Promise・Sign</div>
        <div class="formContent">
          <div class="formInputWraper">
            <i class="iconfont">&#xe636;</i>
            <input type="text" placeholder="用户名" ng-model="MuserInfo.username">
          </div>
          <div class="formInputWraper">
            <i class="iconfont">&#xe61b;</i>
            <input type="password" placeholder="密码" ng-model="MuserInfo.password" ng-keyup="FsignInEnter($event,MuserInfo)">
          </div>
          <div class="signError" ng-show="MsignError">{{MsignErrorInfos}}</div>
          <button type="button" name="button" ng-click="FsignIn(MuserInfo)">
            <span>登录</span>
          </button>
          <button type="button" name="button">
            <span>注册</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
