<div ng-controller="Chost">
  <div class="row">
    <div class="bigNode">
      <!-- title -->
      <div class="nodeTitle">主机检视</div>

      <!-- content -->
      <div class="nodeContent">
        <div class="tableContent">
          <div class="toolbar">
            <div class="toolbarNode label">
              筛选
              <div class="filterBox">
                <div class="toolbar" ng-repeat="filter in Mfilters">
                  <i class="toolbarNode iconfont" ng-click="FremoveFilter(filter)">&#xe67f;</i>
                  <select class="toolbarNode filterName" name="filters" ng-model="filter.filterName">
                    <option ng-repeat="option in MhostsDataTh" value="{{option.filterName}}">{{option.th}}</option>
                  </select>
                  <select class="toolbarNode filterBool" name="bool" ng-model="filter.filterBool">
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                  </select>
                  <input class="toolbarNode filterContent" type="text" ng-model="filter.filterContent">
                </div>
                <div class="toolbar">
                  <i class="toolbarNode iconfont" ng-click="FaddFilter()">&#xe649;</i>
                  <div class="toolbarNode">匹配数：{{MhostsDataFilter.length}}</div>
                </div>
              </div>
            </div>
            <div class="toolbarNode" ng-click="FgetHost()">刷新(缓存)</div>
            <i class="toolbarNode iconfont">&#xe629;</i>
            <input class="toolbarNode" type="text" placeholder="Search...">
            <select class="toolbarNode" name="pp" ng-model="MpageOptions.pp">
              <option value="20">每页20项</option>
              <option value="50">每页50项</option>
              <option value="100">每页100项</option>
              <option value="0">多到数不完</option>
            </select>
            <div class="toolbarNode label pageFlip" ng-click="FprevPage()">&lt;</div>
            <input class="toolbarNode pageGo" type="text" placeholder="{{MpageOptions.currentPage}}/{{MpageOptions.totalPage}}" ng-keyup="FgoPage($event,MinputPage)" ng-model="MinputPage">
            <div class="toolbarNode label pageFlip" ng-click="FnextPage()">&gt;</div>
          </div>
        </div>

        <div class="tableContent">
          <table>
            <tr>
              <th><input type="checkbox" ng-model="McheckAll.status" ng-change="FcheckAll(McheckAll)"></th>
              <th ng-repeat="data in MhostsDataTh">{{data.th}}</th>
            </tr>
            <tr class="trAnimate" ng-repeat="node in MhostsDataFilter" ng-dblclick="FshowPmHelper(node)">
              <td><input class="checkNode" type="checkbox" ng-model="node.select" ng-change="FchangeSelect(node)"></td>
              <td>{{node.hostid}}</td>
              <td>{{node.interfaces[0].ip}}</td>
              <td>{{node.host}}</td>
              <td>{{node.groups | groupsFilter}}</td>
            </tr>
          </table>
        </div>

      </div>

      <!-- bottom -->
      <div class="nodeBottom">
        <div class="toolbar middlePageControl">
          <div class="toolbarNode label pageFlip" ng-click="FprevPage()">&lt;</div>
          <input class="toolbarNode pageGo" type="text" placeholder="{{MpageOptions.currentPage}}/{{MpageOptions.totalPage}}" ng-keyup="FgoPage($event,MinputPage)" ng-model="MinputPage">
          <div class="toolbarNode label pageFlip" ng-click="FnextPage()">&gt;</div>
        </div>
      </div>

    </div>
  </div>

</div>
