<div ng-controller="Cmodule">
  <div class="row" ng-show="MshowRight.detail">
    <div class="thirdCol">
      <!-- Host Selector -->
      <div class="node">
        <div class="nodeTitle">执行</div>
        <div class="tableContent">
          <div class="toolbar" ng-show="MshowGo">
            <div class="toolbarNode" ng-click="Fexecute()">执行</div>
          </div>
        </div>
      </div>
      <div class="node">
        <div class="nodeTitle">已选模块</div>
        <div class="tableContent">
          <div class="toolbar">
            <div class="toolbarNode" ng-click="FshowRightNode('module')">选取模块</div>
            <div class="toolbarErrorNode" ng-show="!MshowBottomSuccess.module">还没有定义模块</div>
          </div>
          <div class="toolbar">
            <div class="toolbarNode">Ansible模块: {{MmoduleSelected.name}}</div>
            <div class="toolbarNode">执行用户: {{MmoduleSelected.content.osuser}}</div>
            <div class="toolbarNode">内容: {{MmoduleSelected.content.name}}</div>
          </div>
        </div>
      </div>
      <div class="node">
        <div class="nodeTitle">已选机器</div>
        <div class="tableContent">
          <div class="toolbar">
            <div class="toolbarNode" ng-click="FshowRightNode('hosts')">选取机器</div>
            <div class="toolbarErrorNode" ng-show="!MshowBottomSuccess.hosts">还没有选取目标机器</div>
          </div>
          <div class="toolbar">
            <div class="toolbarNode">机器数量：{{MhostsSelected.length}}</div>
          </div>
          <div class="toolbarNode" ng-repeat="node in MhostsSelected">{{node.interfaces[0].ip}}</div>
        </div>
      </div>
    </div>

    <div class="twoThirdCol">
      <!-- Host Detail -->
      <div class="node" ng-show="MshowRightNode.hosts">
        <div class="nodeTitle">主机选择</div>
        <div class="tableContent">
          <div class="toolbar">
            <div class="toolbarNode label">
              筛选
              <div class="filterBox">
                <div class="toolbar" ng-repeat="filter in Mfilters">
                  <i class="toolbarNode iconfont" ng-click="FremoveFilter(filter)">&#xe67f;</i>
                  <select class="toolbarNode filterName" name="filters" ng-model="filter.filterName">
                    <option ng-repeat="option in MhostsDataTh" value="{{option.filterName}}">{{option.th}}</option>
                  </select>
                  <select class="toolbarNode filterBool" name="bool" ng-model="filter.filterBool">
                    <option value="=">=</option>
                    <option value="!=">!=</option>
                  </select>
                  <input class="toolbarNode filterContent" type="text" ng-model="filter.filterContent">
                </div>
                <div class="toolbar">
                  <i class="toolbarNode iconfont" ng-click="FaddFilter()">&#xe649;</i>
                  <div class="toolbarNode">匹配数：{{MhostsDataFilter.length}}</div>
                </div>
              </div>
            </div>
            <div class="label toolbarNode">已选：{{MhostsSelected.length}}</div>
          </div>
          <table>
            <tr>
              <th><input type="checkbox" ng-model="McheckAll.status" ng-change="FcheckAll(McheckAll)"></th>
              <th ng-repeat="data in MhostsDataTh">{{data.th}}</th>
            </tr>
            <tr class="trAnimate" ng-repeat="node in MhostsDataFilter">
              <td><input class="checkNode" type="checkbox" ng-model="node.select" ng-change="FchangeSelect(node)"></td>
              <td>{{node.hostid}}</td>
              <td>{{node.interfaces[0].ip}}</td>
              <td>{{node.host}}</td>
              <td>{{node.groups | groupsFilter}}</td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Module Detail -->
      <div class="node" ng-show="MshowRightNode.module">
        <div class="nodeTitle">模块选择</div>
        <div class="toolbar">
          <div class="toolbarNode">选择模块：</div>
          <div class="toolbarNode" ng-repeat="(key, value) in Mmodules" ng-click="FselectModule(key)">{{key}}</div>
        </div>

        <!-- ！！！！！！！！！！！！！！！shell module！！！！！！！！！！！！！！！！！！！ -->
        <div ng-show="Mmodules.shell">
          <div class="toolbar">
            <select class="toolbarNode" ng-model="MshellContent.osuser" ng-options="item.value as item.label for item in MosuserOptions"></select>
          </div>
          <div ui-codemirror="MeditorOptions.shell" ng-model="MshellContent.shell"></div>
          <div class="toolbar">
            <div class="toolbarNode" ng-click="MselectContent(MshellContent)">确定</div>
          </div>
        </div>

        <!-- ！！！！！！！！！！！！！！！script module！！！！！！！！！！！！！！！！！！！ -->
        <div ng-show="Mmodules.script">
          <div class="toolbar">
            <div class="toolbarNode" ng-click="FshowScripts()">选取脚本</div>
            <select class="toolbarNode" ng-model="MscriptContent.osuser" ng-options="item.value as item.label for item in MosuserOptions"></select>
            <div class="toolbarNode">{{Mscript.script_name}}</div>
            <div class="toolbarNode">{{Mscript.script_lang}}</div>
          </div>
          <!-- code editor -->
          <div ui-codemirror="MeditorOptions.script" ng-model="Mscript.script_text" ui-refresh="Mscript.script_text"></div>
          <div class="toolbar">
            <div class="toolbarNode" ng-click="MselectContent(MscriptContent)">确定</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- executor -->
    <div class="row" ng-show="MshowRight.executor">
      <div class="fullCol">
        <div class="node">
          <div class="nodeTitle">执行结果</div>
          <div class="tableContent">
            <div class="toolbar">
              <div class="toolbarNode label" ng-click="Fback()">返回</div>
              <div class="toolbarNode" ng-click="FinfoWalker(MmoduleSelected.name, MwalkerId)">测试刷新</div>
              <div class="toolbarNode" ng-click="FstopInfoWalker()">停止轮询</div>
            </div>
            <!-- Result dashboard -->
            <div class="threeQuarterCol">
              <div ui-codemirror="MeditorOptions.executor" ng-model="Mstdout" ui-refresh="Mstdout"></div>
              <div class="codeEditorLoding" ng-show="MshowLoading"></div>
            </div>
            <!-- Hosts list -->
            <div class="quarterCol">
              <div class="progressbar" option="pro.result"></div>
              <table>
                <tr ng-repeat="(key, value) in Mresult" ng-click="FshowStdout(value)" ng-class="{'bgSuccess': ((value.sum_ok > 0) || (value.sum_changed > 0)), 'bgFailed': (value.sum_failures > 0), 'bgUnreachable': (value.sum_unreachable > 0), 'bgSkipped':(value.sum_skipped > 0)}">
                  <td>{{key}}</td>
                  <td>{{value|trailsFilter}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="nodeBottom">{{MerrInfo}}</div>
        </div>
      </div>
    </div>
</div>
