<nav class="navbar navbar-inverse navbar-fixed-top bg-white shadow">
      <div class="col-sm-2 col-md-2 col-lg-2 logo">
        <a class="font-blue" href="/#/">Forward</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse padder">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
</nav>