<div ng-controller="dockerrightCtrl">
	<h4>虚机详情</h4>
	<div class="panel b-a">
		<ul class="list-group">
			<li class="panel-li">
				<small>计算节点ID</small>
				<p ng-bind="vm_infos_help.pm_id"></p>				
			</li>
			<li class="panel-li">
				<small>计算节点IP</small>
				<p ng-bind="vm_infos_help.pm_local_ip"></p>	
			</li>
			<li class="panel-li">
				<small>计算节点名称</small>
				<p ng-bind="vm_infos_help.pm_name"></p>				
			</li>
			<li class="panel-li">
				<small>虚机公网IP</small>
				<p ng-bind="vm_infos_help.vm_public_ip"></p>	
			</li>
		</ul>

	</div>

	<div class="panel b-a">
		<ul class="list-group">
			<li class="list-group-item">
				<small>计算节点ID</small>
				<p ng-bind="vm_infos_help.pm_id"></p>
			</li>
			<li class="list-group-item">
				<small>计算节点IP</small>
				<p ng-bind="vm_infos_help.pm_local_ip"></p>
			</li>
			<li class="list-group-item">
				<small>计算节点名称</small>
				<p ng-bind="vm_infos_help.pm_name"></p>
			</li>
			<li class="list-group-item">
				<small>虚机公网IP</small>
				<p ng-bind="vm_infos_help.vm_public_ip"></p>
			</li>
		</ul>

<!-- 		<h4 class="font-thin padder">Latest Tweets</h4>
		<ul class="list-group">
			<li class="list-group-item">
				<p>Azrael 刚刚完成右展示板的演示</p>
				<small class="font-gray">
					<i class="glyphicon glyphicon-time">2分钟前</i>
				</small>
			</li>
			<li class="list-group-item">
				<p>Azrael 刚刚完成页面的简单样式</p>
				<small class="font-gray">
					<i class="glyphicon glyphicon-time">3小时前</i>
				</small>			
			</li>
			<li class="list-group-item">
				<p>Azrael 完成了页面的切分和路由配置</p>
				<small class="font-gray">
					<i class="glyphicon glyphicon-time">8小时前</i>
				</small>			
			</li>
		</ul> -->
	</div>
	<span class="glyphicon glyphicon-remove top-right" ng-click="close()"></span>
</div>