<div ng-controller="Csetting">
  <div class="row">
    <div class="quarterCol">
      <div class="node">
        <div class="nodeTitle">用户管理</div>
      </div>
      <div class="node">
        <div class="nodeTitle">角色管理</div>
      </div>
    </div>

    <div class="threeQuarterCol">
      <div class="node">
        <div class="nodeTitle">Admin</div>
        <div class="toolbar">
          <div class="toolbarLabel">电话：</div>
          <div class="toolbarNode">138222000002</div>
          <div class="toolbarLabel">邮箱：</div>
          <div class="toolbarNode">notadmin@somewhere.com</div>
        </div>
        <div class="toolbar">
          <div class="toolbarLabel">角色：</div>
          <div class="toolbarNode">Root</div>
          <div class="toolbarNode">Admin</div>
          <div class="toolbarNode">Guest</div>
          <div class="toolbarNode">Apps</div>
          <i class="iconfont toolbarNode">&#xe649;</i>
        </div>
        <div class="toolbar">
          <div class="toolbarLabel">权限：</div>
          <div class="toolbarContent">
            <div class="toolbarNode">get_hosts</div>
            <div class="toolbarNode">get_scripts</div>
            <div class="toolbarNode">shell_walker</div>
            <div class="toolbarNode">script_walker</div>
            <div class="toolbarNode">forward_walker</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
