<div ng-controller="Cui">
  <div class="smallNode">
    <div class="title">文本</div>
    欢迎来到Promise,这里是界面展示区，你将会在使用过程中接触到下面的各种元素，使你的运维工作更加轻松
  </div>

  <div class="smallNode">
    <div class="title">表单</div>
    <div class="inputTitle">用户名</div>
    <input type="text">
    <div class="inputTitle">指头数量</div>
    <input type="text">
    <div class="inputTitle">家庭住址</div>
    <input type="text">
    <div class="inputTitle">必选框</div>
    <input type="radio">
    <div class="inputTitle">复选框</div>
    <input type="checkbox">
    <div class="inputTitle">文件框</div>
    <input type="file">
    <div class="button">重大</div>
    <div class="button">决策</div>
    <div class="button">按钮</div>
  </div>

  <div class="bigNode">
    <div class="title">表格</div>
    <table>
      <tr>
        <th ng-repeat="data in tableDataTh">{{data}}</th>
      </tr>
      <tr ng-repeat="tr in tableData">
        <td ng-repeat="td in tr track by $index">{{td}}</td>
      </tr>
    </table>
  </div>

  <div class="smallNode">
    <div class="title">线性图</div>
    <canvas class="chartLine full" data={{indexDataLine}}></canvas>
  </div>

  <div class="smallNode">
    <div class="title">饼图</div>
    <canvas class="chartPie full" data={{indexDataPie}}></canvas>
  </div>
</div>
