<div ng-controller="Cui">

  <div class="smallNode" style="background:url('http://m2.quanjing.com/2m/axiom_rm001/axiom1885413.jpg');background-size:100% 100%;">
    <div class="nodeUD">
      <div class="textContent">
        <div class="title">Promise</div>
        <div>Promise是移动云南方基地运维团队自主研发的自动运维平台</div>
      </div>
    </div>
  </div>

  <div class="smallNode">
    <div class="nodeUD">
      <div class="formContent">
        <div class="title">用户</div>
        <div class="inputWraper">
          <i class="iconfont">&#xe636;</i>
          <input type="text" placeholder="用户名">
        </div>
        <div class="inputWraper">
          <i class="iconfont">&#xe61b;</i>
          <input type="text" placeholder="密码">
        </div>
        <button type="button" name="button">
          <span>登录</span>
        </button>
        <button type="button" name="button">
          <span>注册</span>
        </button>
      </div>
    </div>
  </div>

  <div class="smallNode">
    <div class="nodeUD">
      <div class="textContent">
        <div class="title">
          <i class="iconfont">&#xe67e;</i>
        </div>
  	    <div>欢迎来到Promise,这里是界面展示区，你将会在使用过程中接触到下面的各种元素，使你的运维工作更加轻松</div>
      </div>
    </div>
  </div>

  <div class="smallNode">
    <div class="chartContent">
      <canvas class="chartLine full" data={{indexDataLine}}></canvas>
    </div>
  </div>

  <div class="smallNode">
    <div class="nodeUD">
      <div class="formContent">
        <div class="title">选框</div>
        <select name="pats">
          <option value="cat">Volvo</option>
          <option value="dog">Saab</option>
          <option value="fish">Fiat</option>
          <option value="void">Audi</option>
        </select>
        <span>保存登录信息</span><input type="checkbox" name="Bike">
      </div>
    </div>
  </div>

  <div class="smallNode">
    <div class="chartContent">
      <canvas class="chartPie full" data={{indexDataPie}}></canvas>
    </div>
  </div>

  <div class="bigNode">
    <div class="nodeUD">
      <div class="tableContent">
        <table>
          <tr>
            <th ng-repeat="data in tableDataTh">{{data}}</th>
          </tr>
          <tr ng-repeat="tr in tableData">
            <td ng-repeat="td in tr track by $index">{{td}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
